<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <h1>Edditing Book</h1>

    <%= form_with model: @book, url:book_path(@book.id), method: :patch do |f| %>
    <div class="field">Title</div>
    <%= f.text_field :title %>

    <div class="fiels">Body</div>
    <%= f.text_area :body %>

    <div class="action">
        <%= f.submit 'Update Book' %>

    </div>

    <a><%= link_to "Show", book_path(@book.id) %></a>
    <a><%= link_to "Back", books_path %></a>


    <% end %>

  </body>
</html>